<nav class="navbar nav-min-ht navbar-expand-md">
    <a class="navbar-brand bft-logo" href="#">
        <img class="bft-logo" src="/assets/images/BFT.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/home"  routerLinkActive="active-link" class="nav-link pointer"> HOME </a>
            </li>
            <li class="nav-item">
                <a routerLink="/about-us"  routerLinkActive="active-link" class="nav-link pointer">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a routerLink="/sign-up"  routerLinkActive="active-link" class="nav-link pointer">PARTNER REGISTRATION</a>
            </li>
            <li class="nav-item">
                <a routerLink="/merchant-login" class="nav-link pointer btn-green" (click)="merchantLogin()">MERCHANT LOGIN</a>
            </li> 
        </ul>
    </div>  
</nav>
