<!--<body>

<div class="container">
    <h1>Merchant Login</h1>
</div>
<div class="container">
    <label for="mobile"><b>Mobile Number</b></label>
    <input type="text" placeholder="Enter Mobile Number" id="phone" name="mobile" required>
    <label for="mid"><b>Merchant ID</b></label>
    <input type="text" placeholder="Enter Merchant ID" name="mid" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
        <span class="psw"> <a ><u style="color: blue"><b>Forgot password</b></u></a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1; text-align: center;">
    <button type="button" class="cancelbtn" (click)="redirectToSignUp()">SIGNUP  |  REGISTER</button>
  </div>
</body>-->


<body>
  <div class="container" *ngIf="loginForm">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-left d-none d-md-flex">
          <div class="box"><header>bFT</header>
          <h6 style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h6>
          <hr class="my-4" style="color: white">
          <div class="services-link">
            <i class="fa fa-envelope-open"></i>
            <i class="fa fa-superpowers"></i>
            <i class="fa fa-car"></i>
            <i class="fa fa-cart-plus"></i><br>
            <i class="fa fa-bug"></i>
            <i class=""></i>
            <i class="fa fa-twitter"></i><span style="color: #fff">And More..</span>
        </div>
        </div>
        </div>


        <div class="card-body">
          <h4 class="title text-center mt-4">
            WELCOME ! <br>
            <p style="font-size: 16px; text-align: center;" class="mt-2">Login with your Phone Number or Other credentails</p>
          </h4>
          <form class="form-box px-3">
            <div class="form-input">
              <span><i class="fa fa-user-o"></i></span>
              <input type="email" name="" placeholder="Mobile no / Email ID" tabindex="10" required>
            </div>
            <div class="form-input">
              <span><i class="fa fa-key"></i></span>
              <input type="password" name="" placeholder="Password" required>
            </div>



            <div class="mb-3">
              <button (click)="getOTP()" type="submit" class="btn btn-block text-uppercase">
                Let's Go
              </button>
            </div>


            <div class="row">
              <div class="col-6">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cb1" name="">
                  <label class="custom-control-label" for="cb1">Remember me</label>
                </div>
              </div>
              <div class="col-6">
                <div class="text-right">
                  <a (click)="forgotPassword()" class="forget-link pointer">
                       Forget Password?
                  </a>
                </div>
              </div>
            </div>
            <hr class="my-4">

            <div class="text-center mb-2">
              <p>Haven't Registered yet ?</p>
              <a (click)="redirectToSignUp()" class="register-link pointer">
                Register here
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Forgot Password View-->
  <div class="container" *ngIf="forgotPasswordForm">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-left d-none d-md-flex">
          <div class="box"><header>bFT</header>
          <h6 style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h6>
          <hr class="my-4" style="color: white">
          <div class="services-link">
            <i class="fa fa-envelope-open"></i>
            <i class="fa fa-superpowers"></i>
            <i class="fa fa-car"></i>
            <i class="fa fa-cart-plus"></i><br>
            <i class="fa fa-bug"></i>
            <i class=""></i>
            <i class="fa fa-twitter"></i><span style="color: #fff">And More..</span>
        </div>
        </div>
        </div>


        <div class="card-body">
          <h4 class="title text-center mt-4">
            WELCOME ! <br>
            <p style="font-size: 16px; text-align: center;" class="mt-2">Ah! No worries.. We knew you want forget <br> password.We are here for your rescue!</p>
          </h4>
          <form class="form-box px-3">
            <div class="form-input">
              <span><i class="fa fa-key"></i></span>
              <input type="password" name="" placeholder="New Password"  required>
            </div>
            <div class="form-input">
              <span><i class="fa fa-key"></i></span>
              <input type="password" name="" placeholder="Enter Password again" required>
            </div>



            <div class="mb-3">
              <button type="submit" class="btn btn-block text-uppercase" (click)="redirectToSignIn()">
                Done
              </button>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</body>
