<!-- App Footer -->
<div class="row w-100 p-5">
        <div class="col-md-4 offset-md-1">
            <h1 class="painter-header">
                <img class="bft-logo" src="/assets/images/BFT.png" />
            </h1>
            <p class="mt-4 mr-3 text-grey">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="mt-4">
                <a title="Connect with Facebook" class="s-media">
                    <i class="fa fa-lg fa-facebook-square sm-icon" aria-hidden="true"></i>
                </a>
                <a title="Connect with Instagram"  class="s-media">
                    <i class="fa fa-lg fa-instagram sm-icon" aria-hidden="true"></i>
                </a>
                <a title="Connect with Instagram"  class="s-media">
                    <i class="fa fa-lg fa-whatsapp sm-icon" aria-hidden="true"></i>
                </a>
                
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="sm-head"> IMPORTANT LINKS </h5>
            <div class="links mt-4">
                <p class="text-grey pointer">Partner with us</p>
                <p class="text-grey pointer">How it works ?</p>
                <p class="text-grey pointer">Services</p>
                <p class="text-grey pointer">Testimonials</p>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="sm-head"> OTHER LINKS </h5>
            <div class="links mt-4">
                <p class="text-grey pointer">Terms & Conditions</p>
                <p class="text-grey pointer">Return Policy </p>
                <p class="text-grey pointer">Cancellation Policy</p>
                <p class="text-grey pointer">Testimonials</p>
            </div>
        </div>
    </div>
    <!-- App Footer Ends -->