<div class="row w-100 bg-pattern min-ht-15">
    <div class="col-12 p-5 text-center">
        <h3 class="app-head">Let's get your store up and running!</h3>
    </div>
    <div class="row w-100 pt0 text-center">
        <div class="col-md-4 p-2">
            <img class="banner-logo" src="/assets/images/carbon_list-checked.png" />
            <h3 class="app-head1">Bulk selection from Catalog</h3>
            <p class="text-white mt-3">
                Lorem ipsum dolor sit amet, 
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit.consectetur adipiscing elit.
            </p>
            <button class="btn btn-white mt-3">GO AHEAD</button>

        </div>
        <div class="col-md-4 p-2">
            <img class="banner-logo" src="/assets/images/fluent_select-all-on-24-filled.png" />
            <h3 class="app-head1">Add my own products</h3>
            <p class="text-white mt-3">
                Lorem ipsum dolor sit amet, 
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit.consectetur adipiscing elit.
            </p>
            <button routerLink="/product/add-manual" class="btn btn-white mt-3">GO AHEAD</button>

        </div>
        <div class="col-md-4 p-2">
            <img class="banner-logo" src="/assets/images/bytesize_search.png" />
            <h3 class="app-head1">Search Products to add</h3>
            <p class="text-white mt-3">
                Lorem ipsum dolor sit amet, 
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit.consectetur adipiscing elit.
            </p>
            <input type="search" placeholder="&#xF002; Search" class="btn-white mt-3 search" />
        </div>
    </div>
</div>

<app-app-footer></app-app-footer>