<div class="container">
    <h3>Merchant Login</h3>
</div>
<div class="container">
    <label for="mobile"><b>Mobile Number</b></label>
    <input type="text" placeholder="Enter Mobile Number" id="phone" name="mobile" required>
    <label for="mid"><b>Merchant ID</b></label>
    <input type="text" placeholder="Enter Merchant ID" name="mid" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
        <span class="psw"> <a ><u style="color: blue"><b>Forgot password</b></u></a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1; text-align: center;">
    <button type="button" class="cancelbtn">SIGNUP  |  REGISTER</button>
  </div>