<div class="wrapper-row">
    <img src="/assets/images/dummy-banner.jpeg" class="banner-img" />
    <div class="white-floater">
        <div class="m-5 p-3 grey-card">
            <h2 class="painter-header m-3"> Painter </h2>
            <p class="text mt-4 m-3"> 
                    Lorem ipsum, or lipsum as it is sometimes known, 
                    is dummy text used in laying out print, graphic or web designs
            </p>

            <button class="yellow-btn mt-3 m-3"> <b>Hire Painter</b> </button>
        </div>
    </div>
</div>
    
