<div class="wrapper-row">
    <!-- Section 01 -->
    <img src="/assets/images/dummy-banner.jpeg" class="banner-img" />
    <div class="white-floater">
        <div class="m-5 p-3 grey-card">
            <h2 class="painter-header m-3"> Painter </h2>
            <p class="text mt-4 m-3"> 
                    Lorem ipsum, or lipsum as it is sometimes known, 
                    is dummy text used in laying out print, graphic or web designs
            </p>

            <button class="yellow-btn mt-3 m-3"> <b>Hire Painter</b> </button>
        </div>
    </div>
    <!-- Section 02 -->
    <div class="row m-5">
        <div class="col-12">
            <h2 class="painter-header m-3"> Know Us<b class="y-underline"></b></h2>
        </div>
        <div class="col-12 mt-4">
            <p class="text-grey ml-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
        </div>
        <div class="col-12 mt-5">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="y-circle"></div>
                    <p class="text-grey mt-4">
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="y-circle"></div>
                    <p class="text-grey mt-4">
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="y-circle"></div>
                    <p class="text-grey mt-4">
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 03 -->
    <div class="row w-100 mt-5 bg-green">
        <div class="col-12 m-5">
            <h2 class="y-header m-3">Services<b class="w-underline"></b></h2>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-12">
                <p class="text-white ml-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
            </div>
        </div>
        <div class="row w-100 ml-5 mr-5 text-center">
            <div class="col-md-4">
                <div class="dark-circle"></div>
                <div class="dark-shade">
                    <h4 class="service-txt">Service 1</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dark-circle"></div>
                <div class="dark-shade">
                    <h4 class="service-txt">Service 2</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dark-circle"></div>
                <div class="dark-shade">
                    <h4 class="service-txt">Service 3</h4>
                </div>
            </div>
        </div>
        <div class="row w-100 ml-5 mr-5 text-center">
            <div class="col-md-4">
                <div class="dark-circle"></div>
                <div class="dark-shade">
                    <h4 class="service-txt">Service 4</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dark-circle"></div>
                <div class="dark-shade">
                    <h4 class="service-txt">Service 5</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dark-circle"></div>
                <div class="dark-shade">
                    <h4 class="service-txt">Service 6</h4>
                </div>
            </div>
        </div>
        <div class="row mt-5 w-100">
            <div class="col-12 m-4 text-center">
                <button type="button" class="more-btn">More</button>
            </div>
        </div>
    </div>
</div>
    
