/* You can add global styles to this file, and also import other style files */

.green-text {
    color: #009688;
}
.yellow-text {
    color: #f3ba1b
}
.sm-head {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #009688;
}
.btn-green {
    background: #009688;
    color: white !important;
    padding: 8px 30px !important;
    border-radius: 4px;
    margin: 0 10px;
}
.nav-min-ht {
    min-height: 90px;
}
a.nav-link {
    color: #ADABAB;
}

a.nav-link:hover{
    color: #009688;
}

.bft-logo {
    font-size: 48px !important;
    font-weight: bolder;
    color: #009688;
    line-height: 72px;
    margin-left: 60px;
}

.bft-logo:hover {
    color: #009688;
}
.active-link {
    color: #009688 !important;
    border-bottom: 2px solid #009688;
}
.wrapper-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px !important;
    margin-left: -12px !important;
}
.banner-img {
    width: 100%;
    height: 540px;
    overflow: hidden;
}

.yellow-btn {
    color: white;
    background: #f3ba1b;
    width: 200px;
    height: 45px;
    border-radius: 4px;
    border: none;
}

.green-btn {
    color: white;
    background: #009688;
    width: 200px;
    height: 45px;
    border-radius: 4px;
    border: none;
}

.painter-header {
    font-size: 40px;
    color: #009688;
    font-weight: 700;
}
.y-header {
    font-size: 40px;
    color: #FFCD39;
    font-weight: 700;
}
.b-header {
    font-size: 40px;
    color: #353535;
    font-weight: 700;
}
.y-underline {
    text-decoration: underline;
    width: 100px;
    background: #FFCD39;
    height: 6px;
    position: absolute;
    bottom: 34px;
    margin-left: 20px;
}
.w-underline {
    text-decoration: underline;
    width: 100px;
    background: #FFF;
    height: 6px;
    position: absolute;
    bottom: 34px;
    margin-left: 20px;
}
.text-grey {
    color: #9A9A9A;
}
.y-circle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 3px solid #FFCD39;
    margin-left: auto;
    margin-right: auto;
    background: #C4C4C4;
}
.bg-green {
    background: #009688;
    color: #fff;
}
.bg-yellow {
    background: #FFCD39;
}
.w-100 {
    width: 100%;
    overflow: hidden;
    margin: 0 !important;
}
.dark-shade {
    background: #028075;
    border-radius: 21px;
    width: 320px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}
.dark-circle {
    position: relative;
    width: 90px;
    height: 90px;
    left: 39%;
    top: 40px;
    border-radius: 50%;
    background: #028075;
    border: 5px solid rgba(3, 111, 101, 0.44);
    box-sizing: border-box;
}
.service-txt {
    position: relative;
    top: 63px;
}

.more-btn {
    background: #F3BA1B;
    border-radius: 4px;
    width: 151px;
    height: 53px;
    color: #fff;
    outline: none;
    border:none;
    margin-bottom: 25px;
}

.g-play {
    width: 260px;
    height: 80px;
    border-radius: 5px;
    background: url('./assets/images/g-play.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.a-store {
    width: 270px;
    height: 75px;
    border-radius: 5px;
    background: url('./assets/images/a-store.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.pointer {
    cursor: pointer !important;
}
.sm-icon {
    font-size: 45px;
    color: #ffcd3f;
    margin-right: 25px;
    cursor: pointer;
}
.testimon-img {
    width: 100px;
    height: 100px;
    background: #c4c4c4;
    border-radius: 50%;
    border: none;
    margin-top: 10px;
}

.white-floater {
    position: absolute;
    top: 80px;
    width: 500px;
    right: 7%;
    height: 385px !important;
    background: white;
    border-radius: 4px;
}

.grey-card {
    background: #f0f0f0;;
    border-radius: 4px;
    color: #a5a5a5;
    height: 75%;
}